body {
    font-family: "Helvetica Neue", "Helvetica", sans-serif;
    font-size: .9em;
    word-wrap: break-word;
}
#content {
    width: 100%;
    max-width: 500px;
    margin: 20px auto 20px auto;
    padding: 0;
}
#bottom-link {
    position: fixed;
    right: 0;
    bottom: 0;
    text-align: center;
    background: #000000;
    opacity: 0.5;
    width: 100px;
}
#bottom-link a {
    color: #FFFFFF;
}
table {
    width: 100%;
    table-layout: fixed;
}
td {
    padding-bottom: 2em;
}
td.author {
    width: 100px;
    text-align: center;
}
.date {
    color: #666;
    padding-top: .5em;
}
img {
    max-width: 64px;
}
